{% extends "global/base.html" %}

{% block body %}
    <h1>Editar perfil</h1>
    <h2>Não repare na bagunça, ainda estou em desenvolvimento</h2>
    <hr>

    <form method="POST" enctype="multipart/form-data">
     {% csrf_token %}
     {{ form.non_field_errors }} 

     <div>
    {{ form.bio.label_tag }}<br>
    {{ form.bio }}
    {{ form.bio.errors }}
  </div>
  <div>
    {{ form.foto.label_tag }}<br>
    {{ form.foto }}
    {{ form.foto.errors }}
  </div>
  <button type="submit">Salvar</button>
  </form>
{% endblock body %}