{% extends "global/base.html" %}
{% load static %}
{% block body %}
    <h1>Explorar</h1>

    <div class="explorar-grid">
    {% for perfil in perfis %}
      <a href="{% url 'perfil_detail' perfil.id_user.username %}" class="item">
        {% if perfil.foto %}
          <img src="{{ perfil.foto.url }}" alt="{{ perfil.id_user.username }}">
        {% else %}
          <img src="{% static 'img/default-avatar.png' %}" alt="{{ perfil.id_user.username }}">
        {% endif %}
        <span class="username">{{ perfil.id_user.username }}</span>
      </a>
    {% empty %}
      <p>Não há perfis para mostrar.</p>
    {% endfor %}
  </div>

{% endblock body %}