{% extends "global/base.html" %}

{% block body %}


  

  <main>
    <section class="hero">
      <div class="container">
        <h1 style="color:rgb(184, 227, 253);" >Bem-vindo ao ReadBook!</h1>
        <p style="color:rgb(186, 227, 253);">A plataforma que conecta você à nossa comunidade de leitores de forma simples, segura e gratuita</p>
        <div class="hero-cta">
          <a href="{% url 'login_user' %}" class="btn btn-primary">Entrar</a>
          <a href="{% url 'create_user' %}" class="btn btn-secondary">Criar Conta</a>
        </div>
      </div>
    </section>

    
  </main>

  <footer class="site-footer">
    <div class="container">
      <p>&copy; 2025 ReadBook. Todos os direitos reservados.</p>
    </div>
  </footer>


{% endblock body %}

