{% extends "global/base.html" %}

{% block body %}
 {% include "global/partels/header.html" %}
  
    {% if posts %}
    <div class="posts-list">
      {% for post in posts %}
        <div class="post-card">
          <div class="card mb-4">
            {% if post.foto %}
              <a href="{% url 'perfil_detail' post.id_user.username %}">{{ post.id_user.username }}</a>
              <img src="{{ post.foto.url }}" class="card-img-top" alt="Foto do post" style="object-fit: cover; height: 350px;">
            {% endif %}
            <div class="card-body">
              <p class="card-text">{{ post.resumo }}</p>
              <small class="text-muted">Publicado em {{ post.data_criacao|date:"d/m/Y H:i" }}</small>
            </div>
          </div>
        </div>
      {% endfor %}
      {% endif %}
{% endblock body %}