{% extends "global/base.html" %}
{% load static %}

{% block body %}
    <article class="perfil-detail">
    <header>
      {% if profile.foto %}
        <img src="{{ profile.foto.url }}"
             alt="{{ profile.id_user.username }}"
             class="avatar-large">
      {% else %}
        <img src="{% static 'img/default-avatar.png' %}"
             alt="Avatar padrão"
             class="avatar-large">
      {% endif %}
      <h1>{{ profile.id_user.username }}</h1>
    </header>

    {% if profile.bio %}
      <section class="bio">
        <h2>Sobre</h2>
        <p>{{ profile.bio }}</p>
      </section>
    {% endif %}
    <h2>Meus Posts</h2>
  
  {% if posts %}
    <div class="row">
      {% for post in posts %}
        <div class="col-md-4">
          <div class="card mb-4">
            {% if post.foto %}
              <img src="{{ post.foto.url }}" class="card-img-top" alt="Foto do post" style="object-fit: cover; height: 400px; width: 400px;">
            {% endif %}
            <div class="card-body">
              <p class="card-text" >{{ post.resumo }}</p>
              <small class="text-muted">Publicado em {{ post.data_criacao|date:"d/m/Y H:i" }}</small>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Você ainda não tem posts publicados.</p>
  {% endif %}
{% endblock body %}